* {
  margin: 0;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  /* -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; */
}

body,
html {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  color: #24252e;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap"); */

/* full size desktop */
@media only screen and (min-width: 1200px) {
  .top {
    padding-top: 100px;
  }

  img {
    max-width: 100%;
  }

  .container-width {
    max-width: 1170px;
    margin: auto;
  }

  .container-desktop {
    display: flex;
  }

  .container-mobile {
    display: none;
  }

  .header .left h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 125%;
    margin-bottom: 60px;
  }

  header {
    padding-top: 43px;
    display: flex;
  }

  .header {
    display: flex;
  }

  .header .right {
    /* margin-top: calc(-46px + 94px);
    margin-left: -82px;
    margin-right: -90px;
    margin-bottom: calc(-120px + 95px); */

    margin-left: auto;
  }

  .header .left li:last-child {
    margin-bottom: 63px;
  }

  .article-main .img-big {
    /* position: relative; */
    /* left: calc(50% - calc(1334px / 2)); */

    /* margin-top: -8%;
    margin-left: -7.7%;
    margin-right: -7.7%;
    margin-bottom: -10.6%; */

    /* margin-top: 0px;
    margin-left: -89px;
    margin-right: -89px;
    margin-bottom: calc(-122px + 100px); */
    padding: 0;
  }

  .card-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }

  .card-left {
    display: flex;
    gap: 24px;
  }

  .card-right .img {
    margin: -31px -75px -118px -75px;
  }

  .card-left .img1 {
    margin-bottom: -118px;
    margin-left: -74px;
    margin-right: -74px;
    margin-top: -67px;
  }

  .card-left .img2 {
    margin-bottom: -118px;
    margin-left: -74px;
    margin-right: -74px;
    margin-top: -42px;
  }

  .cards-min .white-plain {
    border: 1px solid #e5eeff;
    width: 246px;
    height: 248px;
    /* padding: 25% 0; */
    border-radius: 36px;
    box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.12);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards-min .text {
    text-align: left;
  }

  .ceo-info .right img {
    max-width: unset;
  }

  footer .main-foot {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas:
      "1 1"
      "2 2"
      "3 3";

    grid-template-columns: 43% 57%;
  }

  .ceo-info .left {
    margin-right: 82px;
  }

  .article-main > h1 {
    max-width: 874px;
    /* padding-top: 40px; */
    margin: 0px auto 40px auto;

    font-size: 50px;
    line-height: 75px;
  }

  .cards-min .mid-text {
    height: 114px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .ceo-info .left h1 {
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .ceo-info .left p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 52px;
  }

  .cards-horisontal > div:last-child {
    padding-bottom: 181px;
  }

  .card-right .text {
    margin-right: 16px;
  }

  .card-left .text {
    margin-left: 16px;
  }

  .cards-horisontal > div:not(:last-child) {
    margin-bottom: 100px;
  }

  .card-vertical {
    max-width: 374px;
    margin-bottom: 101px;
  }

  .card-vertical > h1 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 36.57px;
  }

  .container-desktop .links-menu {
    display: none;
  }

  .container-desktop .login-menu-mob {
    display: none;
  }
}

/* 
########################################################
########################################################
########################################################
########################################################
########################################################
########################################################
########################################################
########################################################
########################################################
*/

/* small desctop */
@media only screen and (min-width: 1200px) and (max-width: 1318px) {
  img {
    max-width: unset;
    max-width: 100%;
    margin-right: 0 !important;
  }
}

/* mobile */
@media only screen and (max-device-width: 1199px) {
  .top {
    padding-top: 70px;
  }

  img {
    max-width: 100%;
  }

  .container-width {
    max-width: 90%;
    /* background-color: antiquewhite; */
    margin: auto;

    display: flex;
    flex-direction: column;
    position: relative;
  }

  /* .container-desktop {
    display: none;
  } */

  .header-logo {
    padding: 0 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .container-desktop .dropdown {
    display: none;
  }

  .container-desktop .login-menu {
    display: none;
  }

  .container-desktop .header-links {
    display: none;
  }

  .header .left h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
    margin-bottom: 35px;
  }

  header {
    padding-top: 25px;
    display: flex;
  }

  .header {
    display: block;
  }

  .header .right {
    /* margin-top: calc(-46px + 94px);
    margin-left: calc(-82px);
    margin-right: -90px;
    margin-bottom: calc(-120px + 95px); */

    display: flex;
    justify-content: center;

    margin-top: 30px;
    padding: 0 80px;
    padding-bottom: 40px;
    /* margin-left: auto; */
  }

  .header .try-30days-trial {
    /* position: absolute; */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px !important;
  }

  .header {
    padding-bottom: 20px;
  }

  .header .left {
    display: flex;
    flex-flow: column;
  }

  .header .left > div {
    width: 100%;
    display: flex;
  }

  .try-30days-trial {
    margin-bottom: 0;
  }

  .header .left li:last-child {
    margin-bottom: 0;
  }

  .article-main .img-big {
    /* position: relative; */
    /* left: calc(50% - calc(1334px / 2)); */

    /* margin-top: 0px;
    margin-left: -89px;
    margin-right: -89px;
    margin-bottom: calc(-122px + 100px); */

    width: 110%;
    margin-left: -5%;
  }

  .cards {
    flex-flow: column;
    align-items: center;
  }

  .cards-min {
    flex-flow: column;
    align-items: center;
  }

  .card-right {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
  }

  .card-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
  }

  .cards-horisontal .img {
    /* margin: -31px -75px -118px -75px; */
    margin: -3.2% -8% -12.55% -8%;
    max-width: 100%;
  }

  .card-left .img1 {
    margin: -7.6% -8.5% -13.15% -8.2%;
  }

  .card-left .img2 {
    margin: -4.8% -8.5% -13.15% -8.2%;
  }

  .cards-min .white-plain {
    border: 1px solid #e5eeff;
    padding: 30% 0;
    border-radius: 36px;
    box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.12);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards-min .text {
    text-align: center;
  }

  .cards-min .mid-text {
    justify-content: center;
  }

  .ceo-info {
    flex-flow: column-reverse;
    align-items: center;
  }

  .ceo-info .right img {
    /* margin-right: -27%;
    margin-left: -18%; */

    margin-top: -2.5%;
    margin-left: -9.1%;
    margin-right: -16%;
    margin-bottom: -9.9%;
    max-width: 100%;
  }

  .ceo-info .right {
    display: flex;
    justify-content: center;
    max-height: 300px;

    margin-bottom: 60px;
  }

  .ceo-info .left > div {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .ceo-info .left > div p {
    text-align: center;
  }

  footer .main-foot {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas:
      "1"
      "2"
      "3";

    /* grid-template-columns: 43% 57%; */
  }

  footer .email {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  footer .logo {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .article-main > h1 {
    max-width: 874px;
    /* padding-top: 40px; */
    margin: 0px auto 40px auto;

    font-size: 30px;
    line-height: 130%;
  }

  .h1text h1 {
    font-weight: 600;
    font-size: 23px;
    line-height: 150%;
  }

  .cards-min .mid-text {
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .ceo-info .left h1 {
    font-size: 30px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .ceo-info .left p {
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 52px;
  }

  .cards-horisontal > div:last-child {
    padding-bottom: 90px;
  }

  .card-right .text {
    margin-right: 0px;
  }

  .card-left .text {
    margin-left: 0px;
  }

  .cards-horisontal > div:not(:last-child) {
    margin-bottom: 60px;
  }

  .card-vertical {
    max-width: 374px;
    margin-bottom: 60px;
  }

  .card-vertical > h1 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 700;

    font-size: 24;
    line-height: 29px;
    text-align: center;
  }

  .margin-bot {
    margin-bottom: 100px;
  }
}

/* 
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
#######################################################
 */

.article-main .img-big img {
  margin-top: 0%;
  margin-left: -7.7%;
  margin-right: -7.7%;
  margin-bottom: -10.6%;
}

.header .right img {
  margin-top: -5.4%;
  margin-left: -9.7%;
  margin-right: -10.5%;
  margin-bottom: -14%;
}

.background-blue {
  background-color: #eaf1fe;
}

.background-white {
  background-color: white;
}

.background-gradient {
  background: linear-gradient(180deg, #ffffff 7.76%, #eaf1fe 97.64%);
}

/* .img {
  position: relative;
  border: 4px solid black;
} */

.header-logo {
  margin-right: 41px;
}

.header-logo img {
  /* width: 200px; */
  height: 100%;
}

.header-links ul {
  list-style: none;
  display: flex;
  padding-top: 17px;
  gap: 28px;
}

.header-links li {
  /* margin-right: 28px; */
}

.header-links li a {
  font-weight: 500;
  color: #24252e;
  text-decoration: none;
  transition: 300ms;
}

.header-links li a:hover {
  color: #3e54d8;
}

.language select {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3e54d8;

  width: 92px;
  padding: 0;
  margin-top: 17px;
  margin-right: 16px;
  background: rgba(0, 0, 0, 0);
  border-width: 0px;
}

.login-menu {
  display: flex;

  padding: 17px 25px;
  background-color: white;
  gap: 10px;

  border-radius: 8px;
  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.22);
  align-items: center;
}

.login-menu .login-links {
  font-weight: 600;
  color: #3e54d8;
  /* text-decoration: none; */
}

.login-link-hover,
.login-link-hover:visited {
  color: #3e54d8;
  text-decoration: none;
  transition: 300ms;
}

.login-link-hover:hover {
  color: #1b2d9d;
}

.login-menu .login-button {
  cursor: pointer;
  padding: 18px 25px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: #3e54d8;

  margin-top: -6px;
  /* width: 225px;
  height: 55px; */

  border-width: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.22);

  display: inline-flex;
  /* grid-auto-flow: column; */
  gap: 10px;

  align-items: center;
}

.login-button-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.header .left {
  text-align: left;
  margin: auto 0 auto;
}

.header .left ul {
  list-style-type: none;
}

.header .left li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 17px;
}

.header .left li::before {
  content: "";
  color: #ed6373;
  height: 8px;
  width: 8px;
  background-color: #ed6373;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 0%;
}

.blue-text {
  color: #3e54d8;
  font-weight: bold;
  text-decoration: none;
}

.try-30days-trial {
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 29px 52px;
  margin-bottom: 100px;
  background-color: #3e54d8;
  border-radius: 8px;
  border-width: 0;

  transition: 300ms;

  color: white;
  font-size: 18px;
  font-weight: 600;

  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.51);

  cursor: pointer;
}

.try-30days-trial:hover {
  background-color: #1b2d9d;
}

.article-main {
  text-align: center;
}

.mid {
  padding-top: 50px;
}

.article-main p,
.article-main p .span {
  max-width: 772px;
  margin: 0px auto 50px auto;

  text-align: left;
  font-size: 20px;
  line-height: 32px;

  font-weight: 500;
}

.plain-white {
  position: relative;
  background-color: #ffffff;
  /* height: 358px;
  width: 374px; */
  padding: 50% 0;
  border-radius: 36px;
  box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.06);
}

.plain-white img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.card-vertical > p {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400px;
}

.card-vertical > p b {
  font-weight: 600;
}

.card-vertical > img {
  margin-bottom: 40px;
  height: 358px;
  width: 374px;
}

.cards {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}

/* .cards-horisontal .img {
  width: 608px;
  height: 382px; 
} */

.cards-horisontal {
  padding-top: 50px;
}

.cards-horisontal .text {
  text-align: left;
  margin: auto;
}

.cards-horisontal .text h1 {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 700;

  margin-bottom: 24px;
}

.cards-horisontal .text p {
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 400px;
}

.cards-horisontal .text p b {
  font-weight: 600;
}

.cards-min {
  margin-top: 35px;
  display: flex;
  gap: 59px;
}

.cards-min .card-min-vertical {
  max-width: 350px;
}

.cards-min .text h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.cards-min .text p {
  font-size: 16px;
  line-height: 25.6px;
}

/* .cards-min .card-min-vertical:first-child p {
  position: absolute;
  width: 264px;
} */

.h1text {
  text-align: center;
}

.h1text h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.h1text .try-30days-trial {
  margin-bottom: 100px;
}

.ceo-info {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ceo-info .right img {
  margin-top: -5.7%;
  margin-bottom: -20%;
}

.ceo-info .left {
  display: flex;
  align-items: center;
}

.ceo-info .left button {
  padding: 22px 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 600;
  color: #3e54d8;

  transition: 300ms;

  background-color: white;
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 19px;

  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.22);
  cursor: pointer;
}

footer .logo img {
  width: 253px;
}

footer {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

footer .email a {
  text-decoration: none;
  color: #3e54d8;
  font-weight: 600;
}

footer .prava a {
  text-decoration: none;
  color: #3e54d8;
}

footer .linka {
  font-weight: 500;
  text-decoration: none;
  color: #3e54d8;
}

/* footer .logo-email {
  display: flex;
}

footer .info {
  display: flex;
}

footer .links-politics {
  display: flex;
} */

footer .prava,
footer .ip {
  color: #929398;
}

footer .logo,
footer .email {
  margin-bottom: 50px;
}

footer .email {
  display: flex;
  align-items: center;
}

footer .email > div {
  display: grid;
  gap: 6px;
}

footer .ip {
  margin-bottom: 16px;
}

footer .links-left br {
  margin-bottom: 16px;
}

footer .links-left {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

footer .links-right {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

/* footer .links-right {
  margin-top: auto;
} */

.link-hover {
  text-decoration: none;
  color: #3e54d8;
}

.link-hover:hover {
  text-decoration: underline;
}

.link-hover:visited {
  text-decoration: none;
  color: #3e54d8;
}

.ceo-info .left button:hover {
  background-color: #3e54d8;
  color: white;
  fill: white;
}

.underlined {
  position: relative;
  display: flex;
}

.underlined span {
  position: relative;
  z-index: 2;
}

.underlined .line {
  position: absolute;
  z-index: 1;
  left: -5%;
  top: 68%;
  width: calc(110%);
  height: 6px;
  background-color: #f3b63f;
}

.underlined-line {
  display: inline-flex;
  position: relative;
  z-index: 1;
  line-height: 130%;
}
.underlined-line::before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 32%;
  top: 7px;
  left: -5px;
  background: #f3b63f;
  z-index: -1;
  top: 65%;
}

.hide {
  display: none;
}

html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
  min-height: 450px;
}

.show {
  display: flex !important;
}

.show ul {
  flex-flow: column;
}

.show li span {
  font-size: 28px;
  line-height: 121%;
}
